alembic==1.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
coverage==7.3.4
filelock==3.13.1
gevent
greenlet==3.0.3
gunicorn==20.1.0
httpcore==1.0.2
humanize
idna==3.6
iso639
langid
pandas
platformdirs==4.1.0
python-multipart==0.0.6
redis==5.0.1
jq
requests==2.31.0
requests-file==1.5.1
shodan==1.31.0
six==1.16.0
sqlite_utils
setuptools==69.0.2
starlette==0.27.0
tldextract==5.1.1
unidecode
uvicorn==0.25.0
urllib3==2.1.0
watchdog==3.0.0
wheel==0.42.0
XlsxWriter==3.1.9